.home{
    background-color: #F4DECB !important;
    height: 100vh;
    background-image: /*linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), */
    url('./images/homeBg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5); */
}

.main{
    font-family: 'Source Code Pro', monospace;
    margin-left: 5em;
}
.main h2{
    font-size:6rem;
}
.main p{
    font-size:2.5rem;
}
.navbar-bg {
    background-color:#49274A;
}
.navbar-brand{ 
    font-weight: 700;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    width: 70px;
}

.nav-link:hover{
    color: #49274A !important;
    border-bottom-color: #49274A;
}

.nav-link.active{
    color: #49274A;
    border-bottom-color: #49274A;
}
.nav-item{
    padding: 0.25rem 0;
    margin-left: 1rem;
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}
.nav-item:hover{
    color: rgba(255,255,255,0.8);
}
.nav-item.active{
    color:white;
}
.select{
    width: 100%;
    padding: 0.25rem 0;
}

/* .carousel-item {
    width: 100%;
    height: 25vw;
    object-fit: cover;
} */

.register, .adminRegister{
        overflow-x: hidden; /*hide horizontal scrollbar*/

}
.selectCat{
    width: 15rem;
    margin: 0.5rem auto;
    background-color: #66FCF1
}
.category{
    margin: 7.5rem 0; 
}
.flash{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(255,0,0,0.5);
}

.flash-success{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(0, 255, 76, 0.603);
}

.newBook, .newCycle, .newFurniture, .newHandicraft, .newOther, .editBook, .editCycle, .editFurniture, .editHandicraft, .editOther, .editProfile{
    overflow-x: hidden; /*hide horizontal scrollbar*/
    /*height: 100vh;*/
    /* background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url('./images/bgImg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:50rem; */
}

.mainRoot, #root{
    background-color:#F4DECB;
}

.login .card{
    margin-top: 8em;
}
.sell-item{
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10em;
    padding-right: 10em;
    display:block;
    text-align:center;
    position: relative;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto; 
    background-color: #D4A5CE;
    border-color: #D4A5CE;
}

.sell-item:hover{
    background-color: #C684BE;
    border-color: #C684BE;
}

.searchBar{
    text-align: center;
    margin: auto;
    display: inline-block;
}

#search{
    border-radius: 20px !important;
    border: 0px;
    text-align:left;
    width: 200px;
    font-size: 1em;
    padding: 5px 20px;
    margin: 1em 0;
}

#search:focus{
    outline: none;
}

.myProfileBtn, .myProductsBtn, .backBtn{
    background-color: #D4A5CE;
    border-color: #D4A5CE;
}

.myProfileBtn:hover, .myProductsBtn:hover, .backBtn:hover{
    background-color: #C684BE;
    border-color: #C684BE;
}

.displayThumbnail{ /*21em, 18em */
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.data-display-grid{
    height: 10.2em;
}

.data-display-grid-wishlist{
    height: 9.6em;
}

.data-display-grid-small{  /*for handicrafts, furniture, others*/
    height: 7em;
}

.data-display-heading{
    font-size: 1.2rem;
}

.data-display-subheading, .data-display-price{
    font-size: 1rem;
}

.grid-display-products{
    margin-left: 6em;
}

.marginTopProduct{
    padding-top:5em;
}

.userProfile, .getUserProfile{
    overflow-x: hidden; /*hide horizontal scrollbar*/
}

.float-child{
    width:33%;
    float:left;
}


/* product-page */
.displayBook .productDisplay, .displayCycle .productDisplay, .displayFurniture .productDisplay, .displayHandicraft .productDisplay, .displayOther .productDisplay {
    max-width: 1200px;
    width: 100%;
    margin: 2em auto;
    box-shadow: 0 0 5px #ccc;
    background-color: #D4A5CE;
}

.backBtn{
    margin-left: 40rem;
    padding-left: 4em;
    padding-right: 4em;
    font-weight: 500;
}

.header {
    color: #94618E;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.details .big-img {
    max-width: 500px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
}

.big-img img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: block;
    object-fit: cover;
}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box .row span {
    color: crimson;
}

.box .colors button {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}

.box p {
    line-height: 1.5;
    margin: 15px 0;
}

.thumb {
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
}

.thumb img {
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    opacity: 0.7;
    border-radius: 5px;
    margin-right: 10px;
}


.thumb .product-thumbnail-img:hover{
    opacity: 1;
    border: 5px solid white;
}

@media(max-width: 500px) {
    .thumb {
        height: 50px;
    }
    .thumb img {
        width: 50px;
    }
}