.home{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}
.main{
    font-family: 'Bebas Neue', cursive;
}
.main h2{
    font-size:8rem;
}
.main p{
    font-size:2rem;
}
.navbar-brand{ 
    font-weight: 700;
}
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    width: 70px;
}

.nav-link:hover{
    color: rgba(255,255,255,0.8);
    border-bottom-color: rgba(255,255,255,0.5);
}

.nav-link.active{
    color: white;
    border-bottom-color: white;
}
.nav-item{
    padding: 0.25rem 0;
    margin-left: 1rem;
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}
.nav-item:hover{
    color: rgba(255,255,255,0.8);
}
.nav-item.active{
    color:white;
}
.select{
    width: 100%;
    padding: 0.25rem 0;
}
.register, .adminRegister{
        overflow-x: hidden; /*hide horizontal scrollbar*/
        background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
        url('./images/bgImg.png');
        background-size: cover;
        background-position: center;
}
.selectCat{
    width: 15rem;
    margin: 0.5rem auto;
    background-color: #66FCF1
}
.category{
    margin: 7.5rem 0; 
}
.flash{
    padding: 0.5;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(255,0,0,0.5);
}

.flash-success{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(0, 255, 76, 0.603);
}

.newBook, .newCycle, .newFurniture, .newHandicraft, .newOther, .editBook, .editCycle, .editFurniture, .editHandicraft, .editOther{
    overflow-x: hidden; /*hide horizontal scrollbar*/
    /*height: 100vh;*/
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url('./images/bgImg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:50rem;
}

.mainRoot, #root{
    background-color: #C5C6C7
}

.sell-item{
    padding: 10px;
    display:block;
    text-align:center;
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 8.7em;
}

.displayThumbnail{
    width: 21em;
    height: 18em;
    cursor: pointer;
}

.data-display-grid{
    height: 9.2em;
}

.data-display-grid-wishlist{
    height: 9.6em;
}

.data-display-grid-small{  /*for handicrafts, furniture, others*/
    height: 7em;
}

.data-display-heading{
    font-size: 1.2rem;
}

.data-display-subheading, .data-display-price{
    font-size: 1rem;
}

.grid-display-products{
    margin-left: 6em;
}

.mainContent-item{
    width:800px;
    height: 100px;
    padding-left: 10px;
}

.marginTopProduct{
    padding-top:5em;
}

.userProfile, .getUserProfile{
    overflow-x: hidden; /*hide horizontal scrollbar*/
}

.float-child{
    width:33%;
    float:left;
}
